[global_shaders]
raygen = "path.rgen"
miss = "black.rmiss"
emitter_hit = "emitter.rchit"

[camera]
view = '''
lookat 2 1 3   0 0 0    0 0 1
'''
fov = 70

#[[light]]
#type = "area"
#color = [1, 1, 1]
#mesh = "square.obj"
#transform = '''
#rotate 180 0 1 0
#scale 0.3 0.3 1
#translate 0 0.1 3.8
#'''
#emit_type = 1

[[light]]
type = "area"
color = [4000, 4000, 4000]
mesh = "circle.obj"
transform = '''
rotate 95 1 0 0
scale 0.07 0.07 1
translate 0.5 0.5 1.2
'''
emit_type = 0


[[brdf]]
name = "diffuse"
chit_shader = "diffuse.rchit"
[[brdf.field]]
name = "albedo"
type = "vec3"

[[brdf]]
name = "diffraction_grating"
chit_shader = "diffraction_grating.rchit"
[[brdf.field]]
name = "period"
type = "float"
[[brdf.field]]
name = "height"
type = "float"

[[object]]
mesh = "square.obj"
transform = '''
rotate 35 1 0 0
rotate 30 0 1 0
translate 0 0.3 0.8
scale 1 1 1
'''
brdf = {name = "diffraction_grating", fields = [520, 100]}
#brdf = {name = "diffuse", fields = [[1, 1, 1]]}

[[object]]
mesh = "cube.obj"
transform = '''
scale 0.3 0.3 0.3
translate 0.8 0.1 1.1
'''
brdf = {name = "diffuse", fields = [[0.8, 1, 0.8]]}

# floor
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 5 1
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# back wall
[[object]]
mesh = "square.obj"
transform = '''
rotate -90 1 0 0
translate -0.88 0.0 1
scale 10 10 5
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# back wall
[[object]]
mesh = "square.obj"
transform = '''
rotate 90 1 0 0
translate 0.12 0.0 0
scale 10 10 5
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}
