[global_shaders]
raygen = "path.rgen"
miss = "black.rmiss"
emitter_hit = "emitter.rchit"

[camera]
view = '''
lookat 0 4 2   0 0 0    0 0 1
'''
fov = 70

[[light]]
type = "area"
color = [0.7, 0.7, 1]
mesh = "square.obj"
transform = '''
rotate 180 0 1 0
scale 1 1 1
rotate 12 1 0 0
translate 0 0.1 4.8
'''
emit_type = 1

[[light]]
type = "area"
color = [5, 5, 5]
mesh = "circle.obj"
transform = '''
scale 0.08 1 0.08
rotate 180 1 0 0
rotate 95 1 0 0
translate 0.3 0.5 3.8
'''
emit_type = 0


[[brdf]]
name = "diffuse"
chit_shader = "diffuse.rchit"
[[brdf.field]]
name = "albedo"
type = "vec3"

[[brdf]]
name = "diffraction_grating"
chit_shader = "diffraction_grating.rchit"
[[brdf.field]]
name = "period"
type = "float"
[[brdf.field]]
name = "height"
type = "float"
[[brdf.field]]
name = "towards"
type = "vec3"

[[object]]
mesh = "circle.obj"
transform = '''
rotate 90 1 0 0
translate 0 0.16 0.001
'''
brdf = {name = "diffraction_grating", fields = [740, 110, [0, 1, 0]]}

[[object]]
mesh = "cube.obj"
transform = '''
translate 0.8 0.1 0
'''
brdf = {name = "diffuse", fields = [[0.8, 1, 0.8]]}

# floor
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# back wall
[[object]]
mesh = "square.obj"
transform = '''
rotate -90 1 0 0
translate -0.5 -0.25 1
scale 10 10 5
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# left wall
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
rotate 90 0 1 0
translate -5 0 0
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# right wall
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
rotate -90 0 1 0
translate 5 0 0
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}

# ceiling
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
translate 0 0 5
'''
brdf = {name = "diffuse", fields = [[1, 1, 1]]}
