[global_shaders]
raygen = "path.rgen"
miss = "black.rmiss"
emitter_hit = "emitter.rchit"

[camera]
view = '''
lookat 1.5 4.99 2.8   -2 -0.5 1    0 0 1
'''
fov = 70

# ceiling light
[[light]]
type = "area"
color = [0.06, 0.06, 0.06]
mesh = "square.obj"
transform = '''
rotate 180 0 1 0
scale 1 1 1
translate 0.1 1 4.8
'''
emit_type = 1
spectra = "d65"

# "directional" light
[[light]]
type = "area"
color = [5, 5, 5]
mesh = "circle.obj"
transform = '''
scale 0.2 0.2 0.2
rotate -90 1 0 0
rotate -20 1 0 0
rotate 60 0 1 0
translate -1.4 0.8 0.6
'''
emit_type = 0


[[brdf]]
name = "diffuse"
chit_shader = "diffuse.rchit"
[[brdf.field]]
name = "albedo"
type = "vec3"

[[brdf]]
name = "diffraction_grating"
chit_shader = "diffraction_grating.rchit"
[[brdf.field]]
name = "period"
type = "float"
[[brdf.field]]
name = "height"
type = "float"
[[brdf.field]]
name = "towards"
type = "vec3"

[[procedural_geometry]]
name = "dvd"
aabbs = [[-1, -1, -1, 1, 1, 1]]
intersection_shader = "dvd.rint"
closest_hit_shader = "dvd.rchit"

[[procedural_object]]
geometry = "dvd"
transform = '''
translate 0 -1 0
rotate -45 1 0 0
translate 0 1 0.01
'''

[[object]]
mesh = "square.obj"
transform = '''
translate -0.5 -0.5 0
rotate 45 0 0 1
scale 2 2 1
translate -2.7 0.16 0.001
'''
brdf = {name = "diffraction_grating", fields = [740, 110, [-1, 1, 0]]}

[[object]]
mesh = "cube.obj"
transform = '''
translate 1.2 0.1 0
'''
brdf = {name = "diffuse", fields = [[0.4, 1, 0.4]]}

# floor
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 8 10 1
'''
brdf = {name = "diffuse", fields = [[0.9, 0.9, 0.9]]}

# back wall
[[object]]
mesh = "square.obj"
transform = '''
rotate -90 1 0 0
translate -0.5 -0.25 1
scale 10 10 5
'''
brdf = {name = "diffuse", fields = [[0.9, 0.9, 0.9]]}

# left wall
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
rotate 90 0 1 0
translate -4 0 0
'''
brdf = {name = "diffuse", fields = [[1, 0.5, 0.5]]}

# right wall
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 10 10 1
rotate -90 0 1 0
translate 4 0 0
'''
brdf = {name = "diffuse", fields = [[0.5, 0.5, 1]]}

# ceiling
[[object]]
mesh = "square.obj"
transform = '''
translate -.5 -.5 0
scale 8 10 1
translate 0 0 5
'''
brdf = {name = "diffuse", fields = [[0.9, 0.9, 0.9]]}
